html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
input {
  margin: 0;
  padding: 0;
  border: none;
  outline: 0;
  font-family: STHeitiSC-Light;
  font: inherit;
  vertical-align: baseline;
}

html,
body,
form,
fieldset,
p,
div,
h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-text-size-adjust: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  font-family: arial, sans-serif;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

ins,
a {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  display: inline-block;
}

input,
textarea {
  border: none;
  background: none;
  outline: none;
  -webkit-appearance: none;
}

* {
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  -ms-tap-highlight-color: transparent;
  -o-tap-highlight-color: transparent;
}

/*html {
    font-size: $browser-default-font-size;
}*/
html {
  font-size: 37.5px;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

html,
body,
.wrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.wrap {
  display: flex;
  flex-direction: column;
}

.wrap header {
  width: 100%;
  height: 2.4rem;
}

.wrap header .top {
  width: 100%;
  height: 1.2rem;
  display: flex;
  padding: 0 0.26667rem;
  box-sizing: border-box;
  background: #F0EFED;
  justify-content: space-between;
  align-items: center;
}

.wrap header .top img {
  width: 0.8rem;
  height: auto;
}

.wrap header .top i {
  color: #999896;
  font-size: 0.42667rem;
}

.wrap header .top p {
  width: 60%;
  text-align: center;
  display: flex;
}

.wrap header .top p a {
  flex: 1;
  color: #000;
  font-size: 0.42667rem;
  padding: 0 .5rem;
  display: inline-block;
  height: 1.06667rem;
  line-height: 1.06667rem;
}

.wrap header .top p .on {
  border-bottom: 5px solid #999;
}

.wrap header .search {
  width: 100%;
  display: flex;
  height: 1.2rem;
  padding: 0 0.26667rem;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
}

.wrap header .search p {
  width: 80%;
  display: flex;
  height: 0.93333rem;
  border: 1px solid #ccc;
  border-radius: 0.26667rem;
  line-height: 0.93333rem;
  padding-left: 0.53333rem;
}

.wrap header .search p i {
  color: #999896;
}

.wrap header .search p input {
  height: 0.93333rem;
  border: 0;
  outline: 0;
}

.wrap header .search > i {
  width: 0.8rem;
  height: 0.8rem;
  text-align: center;
  line-height: 0.8rem;
  border: 1px solid #ccc;
  color: #999896;
  border-radius: 0.26667rem;
}

.wrap section {
  width: 100%;
  overflow: hidden;
  flex: 1;
  overflow-y: scroll;
}

.wrap section .bookrack {
  width: 100%;
}

.wrap section .bookrack .books {
  width: 100%;
}

.wrap section .bookrack .books li {
  display: flex;
}

.wrap section .bookrack .books li dl {
  width: 33.3%;
  text-align: center;
}

.wrap section .bookrack .books li dl dt {
  width: 100%;
  text-align: center;
}

.wrap section .bookrack .books li dl dt img {
  padding: 0.26667rem;
  width: 2.66667rem;
  height: auto;
}

.wrap section .bookrack .books li dl dd {
  font-size: 0.37333rem;
}

.wrap section .bookcity {
  width: 100%;
}

.wrap section .bookcity .banner {
  width: 100%;
}

.wrap section .bookcity .banner .swiper-slide {
  width: 100%;
}

.wrap section .bookcity .banner .swiper-slide img {
  width: 100%;
  height: auto;
}

.wrap section .bookcity .type {
  width: 100%;
  height: 2.13333rem;
  display: flex;
  border-bottom: 0.08rem solid #ccc;
}

.wrap section .bookcity .type li {
  flex: 1;
  height: 100%;
  width: 20%;
  text-align: center;
  font-size: 0.37333rem;
}

.wrap section .bookcity .type li img {
  width: 0.8rem;
  height: auto;
  padding: 0.21333rem;
}

.wrap section .bookcity .type li a {
  color: #666;
  display: block;
}

.wrap section .bookcity .hotweek {
  width: 100%;
}

.wrap section .bookcity .hotweek h1 {
  width: 100%;
  height: 1.2rem;
  line-height: 1.2rem;
  border-left: 0.21333rem solid orange;
  border-bottom: 0.26667rem solid #F0EFED;
}

.wrap section .bookcity .hotweek li {
  display: flex;
}

.wrap section .bookcity .hotweek li dl {
  width: 33.3%;
  text-align: center;
}

.wrap section .bookcity .hotweek li dl dt {
  width: 100%;
  text-align: center;
}

.wrap section .bookcity .hotweek li dl dt img {
  padding: 0.26667rem;
  width: 2.66667rem;
  height: auto;
}

.wrap section .bookcity .hotweek li dl dd {
  font-size: 0.37333rem;
}

.wrap section .bookcity .recommended {
  width: 100%;
}

.wrap section .bookcity .recommended h1 {
  width: 100%;
  height: 1.2rem;
  line-height: 1.2rem;
  border-left: 0.21333rem solid orange;
  border-bottom: 0.26667rem solid #F0EFED;
}

.wrap section .bookcity .recommended h1 i {
  width: 0.8rem;
  height: 0.8rem;
  background: #0EAB78;
  color: #fff;
  font-size: 10px;
}

.wrap section .bookcity .recommended .story {
  width: 100%;
}

.wrap section .bookcity .recommended .story li {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ccc;
}

.wrap section .bookcity .recommended .story li:first-child dl {
  width: 100%;
  display: flex;
  align-items: center;
}

.wrap section .bookcity .recommended .story li:first-child dl dt {
  width: 3.2rem;
  padding: 0.26667rem;
}

.wrap section .bookcity .recommended .story li:first-child dl dt img {
  width: 100%;
  height: auto;
}

.wrap section .bookcity .recommended .story li:first-child dl dd {
  flex: 1;
  margin-left: 0.26667rem;
}

.wrap section .bookcity .recommended .story li:first-child dl dd b {
  font-size: 0.42667rem;
}

.wrap section .bookcity .recommended .story li:first-child dl dd a {
  font-size: 0.37333rem;
  display: block;
  color: #999896;
}

.wrap section .bookcity .recommended .story li:first-child dl dd p {
  font-size: 0.37333rem;
  color: #999;
}

.wrap section .bookcity .recommended .story li font {
  color: red;
  font-weight: 800;
  line-height: 0.8rem;
}

.wrap section .bookcity .recommended .story li a {
  font-size: 0.37333rem;
  color: #666;
  line-height: 0.8rem;
}
